[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/freetype/freetype.git
[submodule "external/hdf5"]
	path = external/hdf5
	url = https://github.com/HDFGroup/hdf5.git
	branch = hdf5_1_12_2
[submodule "external/jsoncpp"]
	path = external/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "external/opencv"]
	path = external/opencv
	url = https://github.com/opencv/opencv.git
	branch = 4.x
[submodule "external/glew"]
	path = external/glew
	url = https://github.com/Perlmint/glew-cmake.git
